section {
    width: 100%; 
    min-width: 1250px; min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    background: rgb(245, 245, 245);
}
section aside {
    width: 250px;
    background: rgb(255, 230, 255);
}
section aside ul {
    width: 250px;
}
section aside ul a {
    width: 250px; height: 50px;
    display: flex;
    justify-content: center;
    line-height: 50px;
}
section aside ul a:hover {
    font-weight: bold;
    background: rgb(255, 210, 255);
}
section aside ul a li {
    width: 210px; height: 50px;
    border-bottom: 1px solid gray;
}
section aside ul #cursor2 {
    font-weight: bold;
    background: rgb(255, 210, 255);
}
section .list {
    width: 1000px; height: calc(100vh - 100px);
    overflow: auto;
    overflow-x: hidden;
}
section .list a {
    width: 1000px; height: 250px;
    display: flex;
    margin: 10px 0;
    justify-content: center;
}
section .list a:hover .content h1 {
    color: lightseagreen;
}
section .list a article {
    width: 900px; height: 250px;
    display: flex;
    align-items: center;
    background: white;
}
section .list a article .img {
    width: 260px; height: 200px;
    margin: 0 20px;
    background: darkgray;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
section .list a article .content {
    width: 560px; height: 200px;
    margin: 0 20px;
}
section .list a article .content h1 {
    margin: 10px;
}
section .list a article .content p {
    margin: 0 10px;
}