section {
    width: 100%;
    min-width: 1000px; min-height: calc(100vh - 500px);
    display: flex;
    justify-content: center;
    background: rgb(240, 240, 240);
}
section .base {
    width: 1000px; height: 500px;
    display: flex;
    flex-wrap: wrap;
}
section .base a {
    width: 230px; height: 230px;
    margin: 10px;
    background: white;
    box-shadow: 1px 1px 10px 1px lightgray;
    border-radius: 20px;
    transition-duration: 0.3s;
}
section .base a:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 10px 1px gray;
}
section .base a article {
    width: 100%; height: 100%;
}
section .base a article h1 {
    margin: 20px;
    font-size: 20px;
}