section {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(240, 240, 240);
}
section .base {
    width: 1000px;
    min-height: calc(100vh - 100px);
}
section .base>h1 {
    width: 100%; height: 100px;
    padding-left: 50px;
    font-size: 25px;
    line-height: 100px;
}
section .base .list {
    width: 100%; height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section .base .list a {
    width: 35%; height: 30%;
    margin: 20px;
    transition-duration: 0.3s;
    background: white;
}
section .base .list a:hover {
    box-shadow: 1px 1px 10px 1px gray;
}
section .base .list a article {
    width: 100%; height: 100%;
}
section .base .list a article .img {
    width: 100%; height: calc(100% - 150px);
    background-position: center;
    background-size: cover;
}
section .base .list a article .content {
    width: 100%; height: 150px;
    padding-top: 20px;
}
section .base .list a article .content h1 {
    margin-left: 20px;
}
section .base .list a article .content p {
    margin-left: 20px;
    color: gray;
}