* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
header {
    width: 100%; height: 150px;
    background: rgb(245, 230, 255);
    position: relative;
}
header #header_base {
    width: 100%; height: 100%;
    position: relative;
}
header #header_base h1 {
    position: absolute; left: 100px; bottom: 30px;
}
header #header_base h1 a {
    font-size: 40px;
    font-weight: bold;
    color: black;
}
header #header_base h1 a .lower {
    font-size: 20px;
}
header #header_base nav {
    position: absolute; right: 150px; bottom: 35px;
}
header #header_base nav ul li {
    float: left;
    margin: 0px 50px;
}
header #header_base nav ul li a {
    font-size: 20px;
    color: black;
}
header #header_base nav ul li a:hover {
    color: lightseagreen;
}
header .gear1 {
    width: 150px; height: 150px;
    position: absolute;
    overflow: hidden;
}
header .gear2 {
    width: 150px; height: 150px;
    position: absolute;
    overflow: hidden;
}
header .gear1 img {
    width: 150px; height: 150px;
    position: absolute;
    animation-name: gear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
header .gear2 img {
    width: 150px; height: 150px;
    position: absolute;
    animation-name: gear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}
@keyframes gear {
    100% {
        transform: rotate(360deg);
    }
}
section {
    width: 100%;
}
section article {
    width: 100% - 400px; height: 500px;
    margin: 10px 200px;
    position: relative;
}
section article .articleimg{
    width: 1000px; height: 500px;
    border-radius: 25px;
    transition-duration: 0.1s;
}
section article .articleimg:hover{
    transform: scale(1.025);
}
section .article1 .articletext {
    position: absolute;
    top: 30px; left: 30px;
    z-index: 1;
    animation-name: intextleft;
    animation-duration: 0.5s;
}
section .article1 .articletext h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
    color: white;
}
section .article1 .articletext p {
    font-size: 20px;
    text-shadow: 4px 4px 4px black;
    color: white;
}
section .article1 .articleimg {
    position: absolute; left: 0px; top: 0px;
    overflow: hidden;
    animation-name: inleft;
    animation-duration: 0.5s;
}
section .article1 .articleimg a img {
    width: 1000px;
    position: absolute; left: 0px; top: 0px;
    box-shadow: inset 5px 5px 5px 5px white;
}
section .article2 .articletext {
    position: absolute;
    top: 30px; right: 30px;
    z-index: 1;
    animation-name: intextright;
    animation-duration: 0.5s;
}
section .article2 .articletext h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
    color: white;
}
section .article2 .articleimg {
    position: absolute; right: 0px; top: 0px;
    overflow: hidden;
    animation-name: inright;
    animation-duration: 0.5s;
}
section .article2 .articleimg a img {
    width: 1000px;
    position: absolute; right: 0px; top: 0px;
}
section .article3 .articletext {
    position: absolute;
    top: 30px; left: 30px;
    z-index: 1;
    animation-name: intextleft;
    animation-duration: 0.5s;
}
section .article3 .articletext h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
    color: white;
}
section .article3 .articleimg {
    position: absolute; left: 0px; top: 0px;
    overflow: hidden;
    animation-name: inleft;
    animation-duration: 0.5s;
}
section .article3 .articleimg a img {
    width: 1000px;
    position: absolute; left: 0px; top: 0px;
}
@keyframes intextleft {
    0% {
        opacity: 0;
        left: -30px;
    }
    100% {
        opacity: 1;
        left: 30px;
    }
}
@keyframes intextright {
    0% {
        opacity: 0;
        right: -30px;
    }
    100% {
        opacity: 1;
        right: 30px;
    }
}
@keyframes inleft {
    0% {
        opacity: 0;
        left: -60px;
    }
    100% {
        opacity: 1;
        left: 0px;
    }
}
@keyframes inright {
    0% {
        opacity: 0;
        right: -60px;
    }
    100% {
        opacity: 1;
        right: 0px;
    }
}
footer {
    width: 100%; height: 100px;
    position: relative;
    background: rgb(245, 230, 255);
}
footer h1 {
    position: absolute;
    left: 10%; bottom: 50%;
    font-size: 20px;
    color: gray;
}