section {
    width: 100%; 
    min-width: 1000px; min-height: 800px;
    display: flex;
    background: rgb(245, 245, 245);
}
section aside {
    width: 250px;
    background: rgb(255, 230, 255);
}
section aside ul {
    width: 250px;
}
section aside ul a {
    width: 250px; height: 50px;
    display: flex;
    justify-content: center;
    line-height: 50px;
}
section aside ul a:hover {
    font-weight: bold;
    background: rgb(255, 210, 255);
}
section aside ul a li {
    width: 210px; height: 50px;
    border-bottom: 1px solid gray;
}
section aside ul #cursor2 {
    font-weight: bold;
    background: rgb(255, 210, 255);
}
#unity-container.unity-desktop {
    width: calc(100% - 250px);
    min-width: 800px; min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#unity-container.unity-desktop {
    width: calc(100% - 250px);
    min-width: 450px; min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#unity-container.unity-mobile {
    width: 100%; height: 100%;
}
#unity-canvas {
    margin-top: 20px;
    background: #231F20;
}
.unity-mobile #unity-canvas {
    width: 100%; height: 100%;
}
.unity-desktop #unity-loading-bar {
    display: none;
    position: absolute;
    left: 50%; top: 410px;
    transform: translate(-50%, -50%);
}
.unity-mobile #unity-loading-bar {
    display: none;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
#unity-logo {
    width: 154px; height: 130px;
    background: url('unity-logo-dark.png') no-repeat center;
}
#unity-progress-bar-empty {
    width: 141px; height: 18px;
    margin-top: 10px; margin-left: 6.5px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
}
#unity-progress-bar-full {
    width: 0%; height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}
#unity-warning {
    max-width: 450px;
    display: none;
    padding: 10px;
    position: absolute;
    left: 50%; top: 5%;
    transform: translate(-50%);
    background: white;
}
#unity-footer {
    width: 450px;
    margin-bottom: 20px;
    position: relative;
}
.unity-mobile #unity-footer {
    display: none;
}
#unity-webgl-logo {
    width: 204px; height: 38px;
    float:left;
    background: url('webgl-logo.png') no-repeat center;
}
#unity-build-title {
    margin-right: 10px;
    float: right;
    font-family: arial;
    font-size: 18px;
    line-height: 38px;
}
